<div class="principall">


    <div class="miniatura">
               
    </div>
   
   
    <div class="perfil">
       <div class="container">
           <img class="imgPerfil" src="../../assets/usuario.png" alt="">
           <div class=" container perfil-header">
   
               <h1 [innerHTML]="nombrePerfil" class="name"> Evelyn Cerro</h1>    
               <div class="descripcion">
                           <div class="descripcion-icono">
                               <img  src="../../assets/ondulacion.png">
                           </div>
                       
                           <div class="descripcion-informacion">
                               <h5>¿Quieres saber mas de mi?</h5>
                               <p>Soy una persona muy amable, linda, cariñosa y con mucha energia.  </p>
                   
                           </div>
                           
                           <div class="descripcion-btn">
                               <button class="btn btn-primary" >Contactar</button>
                               <button class="btn btn-danger" >bloquear</button>
                           </div>
               </div>
                       
           </div>
       </div>
       
       <div class="perfil-main">
           <div class="documentos ">
               <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15669.488991019663!2d-74.7823386921875!3d10.935228000000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5cd453b23dfed%3A0xaab989d71edd9f34!2sInstituci%C3%B3n%20Universitaria%20de%20Barranquilla%20IUB!5e0!3m2!1ses!2sco!4v1677531072615!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>
   
           <div class="documentos ">
                <div class="documentos-header">
                    <h4>Documentos</h4>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdDocumentos">
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </button>
                </div>
               
               <div class="documentos-carrucel">
                    
                   <div *ngFor="let i of documentosQllegan;"  class="bloque-documento">
                       <a href="{{i.URL}}" target="_blank" download="{{i.nombreDoc}}.{{i.tipoDoc}}">
                       <img *ngIf="(i.tipoDoc== 'DOCX')" src="../../assets/doc.png" alt="">
                       <img *ngIf="(i.tipoDoc== 'PDF')" src="../../assets/pdf.png" alt="">
                       <label >{{i.nombreDoc}}</label>
                        </a>
                   </div>
                   <!-- <div class="bloque-documento">
                       <img src="../../assets/pdf.png" alt="">
                       <label >Sertificado medicos</label>
                   </div>
                   <div class="bloque-documento">
                       <img src="../../assets/doc.png" alt="">
                       <label >Examenes medicos</label>
                   </div>
                   <div class="bloque-documento">
                       <img src="../../assets/xlsx.png" alt="">
                       <label >Operaciones realizadas</label>
                   </div> -->
               </div>
           </div>
           
            <div class="documentos ">
                <div class="documentos-header">
                    <h4>Discapacidades</h4>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdDiscapacidades">
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </button>
                </div>
               <div class="documentos-carrucel">
                   <div *ngFor="let i of discapacidadesQllegan;"   class="bloque-documento">
                       <img *ngIf="(i.idDiscapacidad == 1)" src="../../assets/sordera.png" alt="">
                       <img *ngIf="(i.idDiscapacidad == 3)" src="../../assets/mudo.png" alt="">
                       <img *ngIf="(i.idDiscapacidad == 2)" src="../../assets/ciego.png" alt="">
                       <label >{{i.nombreDis}}</label>
                   </div>
                   
               </div>
            </div>
           
   
           
        </div>
   
        <div class="container perfil-footer">
              
        </div>
      
    </div>
   </div>

<!-- Modal add archivos -->
<!-- Modal -->
<div class="modal fade" id="mdDocumentos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Documento </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre del documento</label>
                  <input type="text" class="form-control" id="nDocumento" aria-describedby="emailHelp">
                
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seleccione su archivo</label>
                    <input type="file" class="form-control" id="doc" aria-describedby="emailHelp">
                  </div>
               
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Cargar</button>
        </div>
      </div>
    </div>
  </div>

<!-- modal add discapacidades -->
<div class="modal fade" id="mdDiscapacidades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar discapacidades</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h6>Tus discapacidades</h6>
            <div *ngFor="let i of discapacidadesQllegan" >
                <label class="discapacidadEtiqueta" id={{i.idDiscapacidad}}>{{i.nombreDis}} 
                <span (click)="remover(i.idDiscapacidad)"><i class="fa-solid fa-xmark"></i> </span></label>
                
            </div>
            <div class="addDiscapacidad">

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button"(click)="eliminarDiscapacidad()"class="btn btn-primary">Cargar</button>
        </div>
      </div>
    </div>
  </div>